# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Logs
logs
*.log

# OS files
.DS_Store
.idea/

# Build output
dist/

# Backend specific
backend/tmp/*
!backend/tmp/.gitkeep
backend/storage/uploads/*
!backend/storage/uploads/.gitkeep
backend/.adonisjs/

# Frontend specific
frontend/dist/

# Test coverage
coverage/
*.lcov
